/* 수정 : 2024.08.30 작성자 : 이인재 // 버튼 위치 가운데정렬 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  padding: 0
}

.inner {
  width: 1176px;
  height: 100vh;
  margin: 0 auto;
}

.inner::after {
  content: '';
  clear: both;
  display: block;
}

.content .title {
  margin: 0 0 40px;
  font: bold 28px 'Black Han Sans';
  text-align: center;
}

.content .txt {
  margin: 0 0 60px;
  font: 14px 'Black Han Sans'
}

@media screen and (max-width: 1200px) {
  .inner {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 120px 40px
  }
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {
  .content {
    padding: 80px 40px
  }

  .content .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .content {
    padding: 60px 20px
  }
}

@media screen and (max-width: 480px) {}

#header {
  width: 100%;
  height: auto;
}

#visual {
  display: block;
  width: 100%;
}

#footer {
  width: 100%;
  background-color: #333;
}

.bg-logo {
  width: 10%;
  top: 30px;
  right: 30px;
  position: absolute;
  z-index: 2;
}

.bg {
  width: 100%;
  height: 105vh;
  position: fixed;
}

.bg-box {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000055;
}

.box01 {
  float: left;
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  font-family: Black Han Sans;
}

.box01 .title {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 500;
  font-size: 90px;
  text-align: center;
  color: #ffffff;
}

.box01 .subtitle {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.box01 .touch {
  width: 300px;
  height: auto;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.box01 .hand {
  float: left;
  display: block;
  width: 30px;
  height: auto;
}

.box01 .touch p {
  float: left;
  width: calc(100% - 30px);
  padding-top: 5px;
  font-weight: 100;
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 0
  }

  .bg {
    height: 100%;
  }

  #type1 .box01 {
    width: 100%;
  }

  .box01 .title {
    font-size: 50px;
  }

  .box01 .subtitle {
    margin-top: 175px;
    font-size: 100px;
    text-align: center;
  }

  .bg-logo {
    width: 25%;
    top: 20px;
    right: 20px;
  }

  .box01 .hand {
    display: none;
  }

  .box01 .touch p {
    font-size: 25px;
    margin-left: 15px;
  }
}

.box02 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 25%;
  top: 100px;
  z-index: 5;
  text-align: center;
  position: relative; /* relative to allow absolute positioning of left and right buttons */
}

.box02 .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  font: 50px 'Black Han Sans';
  color: #ffffff;
  position: relative;
}

.box02 .count {
  font-size: 150px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  line-height: 1;
}

.box02 a img {
  display: block;
  width: 100px;
  height: 100px;
}

.box02 .left {
  position: fixed;
  top: 30%;
  left: 10px;
  transform: translateY(-50%);
}

.box02 .right {
  position: fixed;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
}

.box02 a:hover {
  background-color: #ffffff50;
  border-radius: 220px;
}

@media screen and (max-width: 1200px) {
  .box02 .info {
    width: 250px;
    height: 250px;
    padding: 0;
    margin-top: 0;
    font-size: 15px;
  }

  .box02 .count {
    font-size: 150px;
  }

  .box02 .right {
    right: 20px;
  }

  .box02 .left {
    left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .box02 {
    height: 20%;
    top: 140px;
  }
}

.box03 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 130px;
  width: 100%;
}

.box03 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 35px 'Black Han Sans';
  color: #ffffff;
  text-align: center;
}

.box03 .left {
  width: 450px;
  height: 150px;
  padding: 20px;
  margin-right: 50px;
  border: 1px solid #ffffff;
  border-radius: 300px;
}

.box03 .right {
  width: 450px;
  height: 150px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 300px;
}

.box03 .again,
.box03 .check {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.box03 p.btn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box03 a:hover {
  background-color: #ffffff50;
  border-radius: 300px;
}

@media screen and (max-width: 1200px) {
  .box03 {
    bottom: 200px;
    flex-direction: column;
    align-items: center;
  }

  .box03 a {
    font: 50px 'Black Han Sans';
    color: #ffffff;
  }

  .box03 .left,
  .box03 .right {
    width: 320px;
    height: 150px;
    padding: 20px;
    margin: 10px 0;
  }

  .box03 .again,
  .box03 .check {
    width: 50px;
  }
}
